.maindiv{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 2rem;
 margin: auto;
    border: 0px solid orange;
}
.singlediv{
    
    border: 0px solid blue;
display: flex;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: auto;
justify-content: space-between;
border-radius: 1rem;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
background-color: rgb(243,238,246);
height: 200px;
cursor: pointer;
}
.imgdiv{
    border: 0px solid green;
    width: 100%;
}
.infodiv{
    border: 0px solid grey;
    text-align: center;
}

.maininfodiv > div{
margin-top: 0.5rem;
}
.image{
width: 100%;
height: 200px;
object-fit: cover;
}
.price{
    font-weight: 600;
}
.rating{
    border: 0px solid blue;
/* width: auto; */
color: white;
display: flex;
align-items: center;
justify-content: center;
}
.ratingp{
    border: 0px solid pink;
    background-color: rgb(96,138,236);
    border-radius: 0.3rem;
    width: fit-content;
    padding: 0.5rem;
    margin: auto;
}
.maininfodiv{
    padding-top:2rem ;
    border: 0px solid black;
    width:50%;
    margin: auto;
}
.discpercent{
    position:absolute;
    color: white;
    background-color: rgb(122, 226, 25);
    padding: 5px;
    border-radius: 6px;
margin-top: 0.5rem;
    margin-left: 0.5rem;
}


/* responsive for mobile */
@media only screen and (max-width: 500px) {
  .singlediv{
    display: grid;
grid-template-columns:auto;
grid-template-rows: repeat(2,1fr);
height: auto;
/* padding-bottom: 1rem; */
  }
  .infodiv{
    border: 0px solid grey;
    text-align: left;
}
.maininfodiv{
    width: 80%;
   margin-left: 10px;
}
}
.rating{
    /* width: auto; */
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    }

/* responsive for  mobile  */

/* responsive for tablet */
@media only screen and (max-width: 1000px) {
    .singlediv{
  height: auto;
    }
    
  }
  /* responsive for tablet */